<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<p> please enter your new password </p>
{% if not form.is_valid %}
    {%  for err in form.errors %}
        <p style="color: red">{{ err }}</p>
    {%  endfor %}
{%  endif %}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type='submit'>change</button>
</form>
</body>
</html>